---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Badge from "@/components/Badge.astro";
import Case from "@/components/Icons/Case.astro";
import Code from "@/components/Icons/Code.astro";
import Experience from "@/components/Experience.astro";
import Github from "@/components/Icons/Github.astro";
import LinkIn from "@/components/Icons/LinkIn.astro";
import Mail from "@/components/Icons/Mail.astro";
import Profile from "@/components/Icons/Profile.astro";
import Projects from "@/components/Projects.astro";
import Section from "@/components/Section.astro";
import SocialPill from "@/components/Icons/SocialPill.astro";
---

<Layout
  title="Porfolio de Raúl - Desarrollador y Programador Web"
  description="Contrata a Raúl para crear aplicaciones web."
>
  <main class="px-4">
    <Section class="py-44 pb-32">
      <div class="max-w-xl">
        <div class="flex gap-4 mb-4">
          <img
            class="rounded-2xl size-16 mb-4"
            src="/Imagen.png"
            alt="foto de perfil"
          />
          <a
            href="https://www.linkedin.com/in/raultc/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center items-center hover:scale-105 transition"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
        <h1
          class="dark:text-neutral-100 text-3xl md:text-4xl lg:text-4xl font-regular flex flex-row gap-x-4 pb-4 lg:pb-10"
        >
          Hey! Soy Raúl 👋
        </h1>
        <h2
          class="text-xl lg:text-xl text-wrap max-w-[60ch] dark:[&>strong]:text-orange-500 [&>strong]:text-orange-400"
        >
          <strong>Desarrollador de aplicaciones Web</strong> de Sevilla, España 🇪🇸.
          Especializado en el desarrollo de aplicaciones web únicas.
        </h2>

        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/raultc/">
            <LinkIn class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/rltorresc">
            <Github class="size-4 md:size-6" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:rtorrelis782@gmail.com">
            <Mail class="size-4 md:size-6" />
            Contáctame
          </SocialPill>
        </nav>
      </div>
    </Section>
    <Section id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Case class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </Section>
    <Section id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </Section>

    <Section id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Profile class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </Section>
  </main>
</Layout>
