<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-lg p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#fcae74_0%,#fb7310_50%,#fcae74_100%)]"
    ></span>
    <div
      class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-lg bg-orange-200 text-orange-800 dark:bg-gray-900 px-3 py-1 text-sm font-medium dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
